@model IEnumerable<BookPlace.ViewModel.UserViewModel>
@using BookPlace.Models

@{
    ViewBag.Title = "Index";
}

<h2>Manage Users</h2>
<form method="get" action="User">
    Search For User: <input type="text" name="searchText" />
    <input type="submit" value="Filter" />


</form>
<br />
<br />
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(m => m.Email)
        </th>

        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(m => item.Email)
            </td>

            <td>
                @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { UserId = item.Id })
            </td>
        </tr>
    }

    @foreach (var item in ViewBag.Books)
    {


        <td>
            <div> @item.Title</div>
        </td>

    }
</table>
